.App {
  text-align: center;
 
  /* height: 100vh; */
}

.App-logo {
  /* height: 60vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin  2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: url(Assets/bg2.gif);
  background-size: cover;
}

.App-link {
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:1000px){
  .joinText{
    line-height: 100px;
  }
}
@media only screen and (max-width:700px){
  .text-container {
    padding: 57px 0px;

  }
  .App-header {
    height: 100vh;
  }
  .App-link {
    font-size: 33px;
  }
}