.about {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;

    &-content {
        text-align: left;
    }
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-wrap: wrap;
    }
    &-image {
        width: 1000px;
    }
}

@media only screen and (max-device-width: 800px) { 

    .about-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-image {
        padding-top: 25px;
        width: auto;
    }
}